.starwars-container{
  
  background: rgb(135, 154, 215);
  
  border-color: black;
  
}

.button{
  background-color: rgb(69, 135, 69);
  color:white;
  border: none;
  height:30px;
}

.input{
  background-color: whitesmoke;
  border: none;
  height:30px;
}
.save{
  background-color: rgb(75, 142, 75);
  color:white;
  border: none;
  height:30px;
}
.save:hover{
  background-color: rgb(0, 75, 0);
  
  border: none;
  height:30px;
}